.Vue-Toastification__toast--info {
  background-color: #38bdf8; /** sky-400*/
}
.Vue-Toastification__toast--success {
  background-color: #34d399; /** emerald-400*/
}
.Vue-Toastification__toast--error {
  background-color: #f87171; /** red-400*/
}
.Vue-Toastification__toast--warning {
  background-color: #fbbf24; /** yellow-400*/
}
